
.loader-container{
    width: 100%;
    position: relative;
}
.loader-spinner{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  animation: spin 5s linear 0s infinite normal;
  height: 100px;
  opacity: 0.1;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@keyframes spin {
    to {
      transform: rotate(-360deg);
    }
  }

